/* Root Styles */
:root {
    --grey-50: #F3F9FA;
    --grey-200: #C5E4E7;
    --grey-300: #9EBBBD;
    --grey-400: #7F9D9F;
    --grey-500: #5E7A7D;
    --grey-550: #547878;
    --grey-600: #3D6666;
    --green-200: #9FE8DF;
    --green-400: #26C2AE;
    --green-750: #0D686D;
    --green-800: #085C61;
    --green-900: #00474B;
    --orange-400: #E17052;

    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-600: 48px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1500: 120px;
    --spacing-1600: 128px;
}

/* General Styles */
body {
    font-size: 24px;
    font-family: "Space Mono", sans-serif;
    font-weight: 700;
    background-color: var(--grey-200);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: var(--grey-600);
    font-size: 32px;
    text-align: center;
    margin: var(--spacing-600) 0;
}

/* Main Section Styles */
main {
    background-color: white;
    border-radius: 25px 25px 0 0;
    padding: var(--spacing-400) var(--spacing-300);
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

/* Form Section Styles */
#tip-form {
    padding: var(--spacing-100);
}

/* Results Section Styles */
#results-section {
    background-color: var(--green-900);
    border-radius: 15px;
    padding: var(--spacing-300);
}